<div class="container" ng-controller="loginController">
    <div class="page-header">
        <h1>Welcome the Bloooooooog!!!</h1>
    </div>
    <div class="well col-md-4.5 col-md-offset-8">

        <h2>Username: </h2>
        <input type="text" class="form-control" placeholder="Enter Username" ng-model="username">

        <h2>Password: </h2>
        <input type="password"  class="form-control" placeholder="Enter Password" ng-model="password">

        {{username+""+password}}
        <br>
        <br>

        <button type="button" ngClick="Submit" class="btn btn-default">Login</button>
        <a href="#signup" class="btn btn-primary">Sign up</a>
    </div>
</div>
