<div class="container">
    <div class="page-header">
        <h1>Welcome the Bloooooooog!!!</h1>
    </div>

    <div class="col-md-4.5 col-md-offset-8">
        <div class="well">
            <div class="form-group">
                <h2 for="username">Username: </h2>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username"/>
            </div>

            <div class="form-group">
                <h2 for="password">Password: </h2>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password"/>
            </div>

            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>

            <button type="button" class="btn btn-default">Login</button>
            <button type="button" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</div>
