<div class="container" ng-controller="signupController">
    <div class="page-header">
        <h1>Please sign up:</h1>
    </div>

    <div class="col-md-9 col-md-offset-1">
        <div class="well">

            <h2>Username: </h2>
            <input type="text" class="form-control" placeholder="Enter Username" ng-model="username">

            <h2>Password: </h2>
            <input type="password" class="form-control" placeholder="Enter Password" ng-model="password1">

            <h2>Re-enter Password: </h2>
            <input type="password" class="form-control" placeholder="Re-enter Password" ng-model="password2">

            <h2>Email: </h2>
            <input type="email" class="form-control" placeholder="Enter Email" ng-model="email">

            <br><br>
            <button type="button" class="btn btn-primary">Submit and Sign up</button>
        </div>
    </div>
</div>
