<!-- this is the home page of blog, it shows all posts and comments that current author allow to see, and make a new post -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/socialnet/#/">Bloooooooog</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/socialnet/#/">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/socialnet/#/manageinfo"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
            <li><a href="/socialnet/#/login"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>

        <div class="col-md-6">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Author" ng-model="vm.searchArray">
                    <li class="list-group-item" ng-repeat="author in vm.allAuthor | filter:{first_name: vm.searchArray}" ng-hide='vm.searchArray.length===0'><a href="/socialnet/#/friendPost/{{author.id}}">{{author.first_name}} {{author.last_name}}</a></li>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-9">
        <form name="form" ng-submit="vm.makePost()" role="form">
            <div class="form-group">
                <input type="text" id="title" class="form-control" ng-model="vm.post.title" placeholder="Title" required>

                <input type="text" id="title" class="form-control" ng-model="vm.post.description" placeholder="Description" required>

                <textarea style="resize:none" class="form-control" rows="3" id="post" ng-model="vm.post.content" placeholder="Content" required></textarea>
                <div class="controls">
                    <button type="submit" class="btn pull-right " ng-disabled="form.$invalid" >Submit</button>
                </div>
                <span>Public: </span>
                <select ng-model="vm.post.visibility" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>

                <span>Content Type: </span>
                <select ng-model="vm.post.content_type" required>
                    <option value="text/plain">Plain</option>
                    <option value="text/markdown">Markdown</option>
                </select>

                <input type="file" ngf-select ng-model="vm.image" name="file" accept="image/*" ngf-max-size="10MB" ng-multiple="false">
            </div>
        </form>

        <hr>
        <h2><small>Recent Posts <a href="/socialnet/#/githubActivity">My Github Activity</a></small></h2>
        <hr>
        <div class="well" ng-repeat="post in vm.allPosts | orderBy: '-published'">
            <h3>{{post.author.first_name}} {{post.author.last_name}} </h3>
            <h5><span class="glyphicon glyphicon-time"></span> {{post.published | date: 'medium'}}</h5>

            <hr>
            <h4>Title: {{post.title}}</h4>
            <h5>Description: {{post.description}}</h5>
            <hr>
            <p ng-show="post.content_type==='text/plain'">{{post.content}}</p>

            <div ng-show="post.content_type==='text/markdown'" btf-markdown="post.content"></div>
            <img ng-show="post.image" ng-src="{{post.image}}" onError="angular.element(this).scope().post.image = false" height="200px"/>

            <hr>

            <button type="button" class="btn btn-default" ng-model="collapsed1" ng-click="collapsed1=!collapsed1" style="margin-right:1em;">New Comment</button>

            <button type="button" class="btn btn-info" ng-model="collapsed" ng-click="collapsed=!collapsed">See Comments</button>

            <div ng-show="collapsed">
                <br>
                <li class="list-group-item" ng-repeat = 'comment in post.comments'><span ng-show="comment.content_type==='text/plain'">{{comment.author.first_name}} {{comment.author.last_name}}: {{comment.comment}}</span><span ng-show="comment.content_type==='text/markdown'">{{comment.author.first_name}} {{comment.author.last_name}}:<span btf-markdown="comment.comment"></span></span>
                </li>
            </div>

            <div ng-show="collapsed1">
                <br>
                <form name="form" ng-submit="vm.makeComment(post.id)" role="form">
                    <textarea style="resize:none" class="form-control" rows="1" id="comment" placeholder="Leave a comments here..." ng-model = "vm.comment.comment" required></textarea>

                    <span>Content Type: </span>
                    <select ng-model="vm.comment.content_type" required>
                        <option value="text/plain">Plain</option>
                        <option value="text/markdown">Markdown</option>
                    </select>

                    <button type="submit" class="btn pull-right" ng-disabled="form.$invalid">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="avatar">
            <img ng-show="vm.currentAuthor.avatar == ''" src="http://127.0.0.1:8000/static/std-avatar.png" height="260" width="260"/>
            <img ng-show="vm.currentAuthor.avatar != ''" src="{{vm.currentAuthor.avatar}}" height="260" width="260"/>
            <h2>{{vm.currentAuthor.first_name}} {{vm.currentAuthor.last_name}}</h2>
        </div>

        <ul class="list-group">
            <li class="list-group-item"><a href="/socialnet/#/managefriends">Manage My Friends</a></li>
            <li class="list-group-item"><a href="/socialnet/#/myposts">Manage My Posts</a></li>
            <li class="list-group-item"><a href="/socialnet/#/firendRequest">Friend Request</a></li>
        </ul>
    </div>

</div>
